.contenedor_itemcart{
    border: 5px solid #065A82;
    background-color: #F1E9DB;
    border-radius: 30px;
    padding: 2em;
    width:40vw;
    min-width: 600px;
}

.elemento_itemcart{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:0.5em;
    color: #F1E9DB;
    font-weight: bold;
    background-color: #065A82;
    border-radius: 10px;
    border: 2px solid #065A82;
}

.imagen_itemcart{
    height: 8em;
    width: 8vw;
    min-width:150px;
    object-fit:cover;
    padding-right:1em;
    border-radius: 8px;
}

.titulo_itemcart{
    width:10em;
}

.cantidad_itemcart,.precio_itemcart{
    width:10em;
    text-align: center;
}

.boton_itemcart{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:1em;
    width:3em;
    border-radius: 15px;
    border: 2px solid #065A82;
    font-weight: bold;
    color:#065A82;
}

.total_itemcart{
    padding-right:1em;
    width: 6em;
}

.empty_cart_container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.empty_cart_container p{
    text-align: center;
    font-size: 24px;
}
.empty_cart_container img{
    height:250px;
}

.price_and_button{
    padding-right:6px;
    color:#065A82;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}