.pata_logo{
    width:40px;
}
.navbarpersonalizada_titulo{
    font-size: 24px;
    color: aliceblue;
    padding-right: 4px;
}
.my_navbar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}

.activeMenu{
    color: gainsboro;
    font-size: 1.8em;
    padding-left:1em;
    padding-right:1em;
    text-decoration: none;
}
.inactiveMenu{
    color: white;
    font-size: 1.5em;
    padding-left:1em;
    padding-right:1em;
    text-decoration: none;
}

.inactiveCart,.activeCart{
    text-decoration: none;
}
.activeCart{
    font-size: 1.4em;

}






