.buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    }

.button{
    height: 4em;
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
}

.number{
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #065A82;
    padding:0.5em;
}

.boton_compra{
    display:flex;
    justify-content: center;
    margin:0.5em;
    padding:1em;
    }